<nav class="navbar navbar-light bg-success d-flex justify-content-center" id="menu" data-bs-toggle="modal" data-bs-target="#cartModal">
    <div>
        <div class="cart-counter"></div>
        <img src="{{imagen}}" alt="">
    </div>
</nav>